@charset "utf-8";



#wrap{
    position: relative;
}
.go_cc h1{
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    background: gray;
    padding:1rem;
    color: #fff;
}
.go_cc_page{
    width: 50rem;
    margin:auto;
    position: relative;
    padding:1rem 0 0 0;
}

.go_cc_page a img{
    position: absolute;
    width: 21rem;
    top:13rem;
    left: 14.5rem;
}




.contents_wrap{
    padding: 0 0 15rem 0;
}
.num1 h2::before{
    position: absolute;
    top: 50%;
    left: 0;
    transform:translateY(-50%);
    content: "1";
    width: 2rem;
    height: 2rem;
    background: #FFDF65;
    border-radius: 50%;
    padding: .5rem .7rem;
    box-sizing:border-box;
}
.num2 h2::before{
    position: absolute;
    top: 50%;
    left: 0;
    transform:translateY(-50%);
    content: "2";
    width: 2rem;
    height: 2rem;
    background: #FFDF65;
    border-radius: 50%;
    padding: .5rem .7rem;
    box-sizing:border-box;
}
.num3 h2::before{
    position: absolute;
    top: 50%;
    left: 0;
    transform:translateY(-50%);
    content: "3";
    width: 2rem;
    height: 2rem;
    background: #FFDF65;
    border-radius: 50%;
    padding: .5rem .7rem;
    box-sizing:border-box;
}
.num4 h2::before{
    position: absolute;
    top: 50%;
    left: 0;
    transform:translateY(-50%);
    content: "4";
    width: 2rem;
    height: 2rem;
    background: #FFDF65;
    border-radius: 50%;
    padding: .5rem .7rem;
    box-sizing:border-box;
}
.num1,
.num2,
.num3,
.num4{
    position: relative;
}
.search_cc h2,
.get_cc h2,
.get_page h2,
.pass_cc h2,
.complete_cc h2{
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
    padding:2.5rem;
}
.search_cc,
.get_cc,
.pass_cc,
.complete_cc{
    width: 50rem;
    margin: auto;
    position: relative;
}
.search_page img{
    background-color: brown;
}
.search_page>p,
.get_page>p,
.pass_page>p,
.complete_page>p{
    font-size: .8rem;
    margin: .5rem 0;
    text-align: center;
}
.search_cc h2 p,
.get_cc h2 p,
.pass_cc h2 p,
.complete_cc h2 p{
    background: #F2CF63;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding:.5rem;
    box-sizing: border-box;
    color: #58595B;
    position: absolute;
    top:2rem;
    left: 17.5rem;
}
